body {
  overflow-y: auto;
  overflow-x: hidden;
}

.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.carousel {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.carousel-slide {
  height: 100%;
  width: 100%;
  flex: 0 0 100%;
}
.carousel-slide img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.control-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 24px;
  z-index: 2;
}

/* CSS for the "More From Us" section */
#more-kitchens {
  position: relative;
}

#more-kitchens #prevBtn {
  position: absolute;
  left: 20px;
}

#more-kitchens #nextBtn {
  position: absolute;
  right: 20px;
}

#gallery {
  position: relative;
}

#gallery #prevBtn {
  position: absolute;
  left: 20px;
}

#gallery #nextBtn {
  position: absolute;
  right: 20px;
}
#home {
  position: relative;
}
#home #prevBtn {
  position: absolute;
  left: 20px;
}

#home #nextBtn {
  position: absolute;
  right: 20px;
}

/* #services .carousel-container {
  position: relative;
}
#services .carousel-container #prevBtn {
  position: absolute;
  left: 20px;
}

#services .carousel-container #nextBtn {
  position: absolute;
  right: 20px;
} */
@media (max-width: 769px) {
  .navbar3_menu {
    display: none !important; /* Hide the element */
  }
}

#calendar {
  height: 70% !important;
}

.footer4_link {
  font-size: 1.3rem !important;
}
.w-dyn-item {
  transition: background-color 0.3s ease; /* Add a smooth transition */
}

.w-dyn-item:hover {
  background-color: #fcec91; /* Change to your desired background color */
  cursor: pointer;
}
.navbar3_link {
  font-size: 1rem !important;
}

.nav-ele {
  display: flex !important;
  width: 13rem;
  justify-content: center;
  align-items: center;
}
.contact12_form {
  width: 50%;
}

#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Initially hide the dropdown */
.dropdown-content {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  height: 0px;
  max-height: 0; /* Adjust this value to your needs */
  overflow: hidden;
}
.dropdown-content.dropdown-open {
  display: flex; /* Show the content */
  max-height: 200px; /* Maximum height when open */
  opacity: 1; /* Make it visible */
}

/* Show the dropdown when it's open */
.dropdown-open {
  display: block;
  opacity: 1;
}
.div-block-7 {
  display: flex !important;
}
.wf-form-Vraag-via-de-website {
  width: 100%;
}
.dropdown-content .carousel-slide {
  width: 50%;
  height: 50%;
}
.dropdown-content .carousel-slide img {
  object-fit: scale-down;
}
.dropdown-content .carousel-container {
  width: 250px;
  height: 100%;
}

.dropdown-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}
video {
  height: 100%;
  width: 100%;
}

@media (max-width: 1025px) {
  .nav-ele {
    width: 225px;
  }
}

@media (max-width: 769px) {
  .contact12_form-wrapper {
    flex-direction: column !important;
  }
}
@media (max-width: 426px) {
  .float {
    right: 15px;
  }
  .video-left {
    display: flex !important;
    flex-direction: column-reverse;
  }
  .contact12_content {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 12px;
  }
  h1 {
    font-size: 2rem !important;
  }
  #calendar > div.fc-header-toolbar.fc-toolbar > div:nth-child(3) > button {
    display: none;
  }
  #home {
    height: 100% !important;
  }

  .carousel-slide img {
    object-fit: cover !important;
  }
  .carousel-container {
    height: 38vh !important ;
  }
  #more-kitchens {
    height: 100% !important;
    margin-top: 5rem !important;
  }
  #gallery {
    height: 100% !important;
    margin-top: 5rem !important;
  }
  .w-layout-grid.layout21_component {
    margin-top: 5rem;
  }
}
@media (max-width: 376px) {
  .carousel-container {
    height: 33vh !important;
  }
  .contact12_content {
    right: 5px !important;
    scale: 1 !important;
  }
  .contact12_form-wrapper.w-form {
    display: flex;
    flex-direction: column !important;
    width: 100%;
  }
}
@media (max-width: 321px) {
  .carousel-container {
    height: 28vh !important;
  }
  .w-layout-grid.layout21_component {
    margin-top: 0px;
  }
  #contact .contact12_form-wrapper.w-form {
    width: 95vw !important;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#home-float {
  background-color: #000;
  border-radius: 160px;
  position: fixed;
  bottom: 30px;
  left: 35px;
  display: flex;
  height: 80px;
  width: 80px;
  animation: pulse 2s infinite;
}

#home-float img {
  height: 100%;
  width: 100%;
}

@media (max-width: 769px) {
  #home-float {
    height: 65px;
    width: 65px;
  }
}

@media (max-width: 376px) {
  #home-float {
    height: 55px;
    width: 55px;
    bottom: 40px;
    left: 20px;
  }
}
